In [184]:
import pandas as pd
from pathlib import Path

In [185]:
# Specify the path to your CSV file
file = 'Alzheimer_s_Disease_and_Healthy_Aging_Data.csv'

# Read the CSV file into a DataFrame
Alzheimers_data = pd.read_csv(file)

Alzheimers_data.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Alzheimer_s_Disease_and_Healthy_Aging_Data.csv'

In [ ]:
Alzheimers_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284142 entries, 0 to 284141
Data columns (total 31 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   RowId                       284142 non-null  object
 1   YearStart                   284142 non-null  int64
 2   YearEnd                     284142 non-null  int64
 3   LocationAbbr                284142 non-null  object
 4   LocationDesc                284142 non-null  object
 5   Datasource                  284142 non-null  object
 6   Class                       284142 non-null  object
 7   Topic                       284142 non-null  object
 8   Question                    284142 non-null  object
 9   Data_Value_Unit             284142 non-null  object
 10  DataValueTypeID             284142 non-null  object
 11  Data_Value_Type             284142 non-null  object
 12  Data_Value                  192808 non-null  float64
 13  Data_Value_Alt              192808 non-null  float64
 14  Data_Value_Footnote_Symbol  109976 non-null  object
 15  Data_Value_Footnote         109976 non-null  object
 16  Low_Confidence_Limit        192597 non-null  float64
 17  High_Confidence_Limit       192597 non-null  float64
 18  StratificationCategory1     284142 non-null  object
 19  Stratification1             284142 non-null  object
 20  StratificationCategory2     247269 non-null  object
 21  Stratification2             247269 non-null  object
 22  Geolocation                 253653 non-null  object
 23  ClassID                     284142 non-null  object
 24  TopicID                     284142 non-null  object
 25  QuestionID                  284142 non-null  object
 26  LocationID                  284142 non-null  int64
 27  StratificationCategoryID1   284142 non-null  object
 28  StratificationID1           284142 non-null  object
 29  StratificationCategoryID2   284142 non-null  object
 30  StratificationID2           284142 non-null  object
dtypes: float64(4), int64(3), object(24)
memory usage: 67.2+ MB

In [ ]:

Alzheimers_data.drop(columns=["RowId","ClassID","TopicID","StratificationCategory1","StratificationID1","StratificationID2","StratificationCategory2","StratificationCategoryID1","StratificationCategoryID2", "LocationDesc","Question","Datasource","QuestionID", "LocationID","DataValueTypeID","Data_Value_Type","Data_Value_Alt","Data_Value_Footnote_Symbol","Data_Value_Footnote","High_Confidence_Limit","Low_Confidence_Limit"], inplace= True)

Alzheimers_data.head()

,YearStart,YearEnd,LocationAbbr,Class,Topic,Data_Value_Unit,Data_Value,Stratification1,Stratification2,Geolocation
0,2022,2022,PA,Mental Health,Frequent mental distress,%,NaN,50-64 years,Native Am/Alaskan Native,POINT (-77.86070029 40.79373015)
1,2022,2022,SD,Mental Health,Frequent mental distress,%,NaN,65 years or older,Asian/Pacific Islander,POINT (-100.3735306 44.35313005)
2,2022,2022,ID,Mental Health,Frequent mental distress,%,NaN,65 years or older,"Black, non-Hispanic",POINT (-114.36373 43.68263001)
3,2022,2022,MD,Mental Health,Frequent mental distress,%,9.0,65 years or older,"Black, non-Hispanic",POINT (-76.60926011 39.29058096)
4,2022,2022,WI,Mental Health,Frequent mental distress,%,5.6,65 years or older,Male,POINT (-89.81637074 44.39319117)

In [ ]:
# drop NA values:

Alzheimers_data = Alzheimers_data.dropna()

Alzheimers_data.head()

,YearStart,YearEnd,LocationAbbr,Class,Topic,Data_Value_Unit,Data_Value,Stratification1,Stratification2,Geolocation
3,2022,2022,MD,Mental Health,Frequent mental distress,%,9.0,65 years or older,"Black, non-Hispanic",POINT (-76.60926011 39.29058096)
4,2022,2022,WI,Mental Health,Frequent mental distress,%,5.6,65 years or older,Male,POINT (-89.81637074 44.39319117)
6,2022,2022,OK,Mental Health,Frequent mental distress,%,21.5,Overall,Native Am/Alaskan Native,POINT (-97.52107021 35.47203136)
7,2022,2022,PA,Mental Health,Frequent mental distress,%,10.0,Overall,"White, non-Hispanic",POINT (-77.86070029 40.79373015)
8,2022,2022,PA,Overall Health,"Disability status, including sensory or mobili...",%,39.9,Overall,Female,POINT (-77.86070029 40.79373015)

In [ ]:
# find unique Topics
unique_topics = Alzheimers_data['Class'].unique()

unique_topics

array(['Mental Health', 'Overall Health', 'Screenings and Vaccines',
       'Nutrition/Physical Activity/Obesity', 'Smoking and Alcohol Use',
       'Cognitive Decline', 'Caregiving'], dtype=object)

In [ ]:
# filter DF by column "Class"

# Define the specific classes you want to keep
Filtered_class = ["Cognitive Decline"]

# Filter the DataFrame to only show the 'Class' column with certain classes
Alzheimers_data = Alzheimers_data[Alzheimers_data['Class'].isin(Filtered_class)]

Alzheimers_data.head()

,YearStart,YearEnd,LocationAbbr,Class,Topic,Data_Value_Unit,Data_Value,Stratification1,Stratification2,Geolocation
92,2022,2022,VA,Cognitive Decline,Talked with health care professional about sub...,%,51.4,50-64 years,Female,POINT (-78.45789046 37.54268067)
94,2022,2022,VT,Cognitive Decline,Talked with health care professional about sub...,%,54.4,Overall,Female,POINT (-72.51764079 43.62538124)
183,2019,2022,NY,Cognitive Decline,Subjective cognitive decline or memory loss am...,%,13.8,50-64 years,Hispanic,POINT (-75.54397043 42.82700103)
185,2019,2022,WA,Cognitive Decline,Subjective cognitive decline or memory loss am...,%,9.5,65 years or older,Female,POINT (-120.4700108 47.52227863)
186,2019,2022,WA,Cognitive Decline,Subjective cognitive decline or memory loss am...,%,9.3,65 years or older,Male,POINT (-120.4700108 47.52227863)

In [ ]:
Alzheimers_data.rename(columns={'Data_Value': 'Data_Value(%)', 'Stratification1': 'Age Group', 'Stratification2': 'Gender/Race/Ethnicity'}, inplace=True)
Alzheimers_data.head()

,YearStart,YearEnd,LocationAbbr,Class,Topic,Data_Value_Unit,Data_Value(%),Age Group,Gender/Race/Ethnicity,Geolocation
92,2022,2022,VA,Cognitive Decline,Talked with health care professional about sub...,%,51.4,50-64 years,Female,POINT (-78.45789046 37.54268067)
94,2022,2022,VT,Cognitive Decline,Talked with health care professional about sub...,%,54.4,Overall,Female,POINT (-72.51764079 43.62538124)
183,2019,2022,NY,Cognitive Decline,Subjective cognitive decline or memory loss am...,%,13.8,50-64 years,Hispanic,POINT (-75.54397043 42.82700103)
185,2019,2022,WA,Cognitive Decline,Subjective cognitive decline or memory loss am...,%,9.5,65 years or older,Female,POINT (-120.4700108 47.52227863)
186,2019,2022,WA,Cognitive Decline,Subjective cognitive decline or memory loss am...,%,9.3,65 years or older,Male,POINT (-120.4700108 47.52227863)

In [ ]:
# filtered_Alz_Data.drop(columns=["StratificationCategory1","StratificationCategory2","StratificationCategoryID1", "StratificationCategoryID2"], inplace= True)
# filtered_Alz_Data.head()

Alzheimers_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7480 entries, 92 to 284131
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   YearStart              7480 non-null   int64
 1   YearEnd                7480 non-null   int64
 2   LocationAbbr           7480 non-null   object
 3   Class                  7480 non-null   object
 4   Topic                  7480 non-null   object
 5   Data_Value_Unit        7480 non-null   object
 6   Data_Value(%)          7480 non-null   float64
 7   Age Group              7480 non-null   object
 8   Gender/Race/Ethnicity  7480 non-null   object
 9   Geolocation            7480 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 642.8+ KB

In [ ]:
# Define the specific year you want to filter by
filtered_year = 2019

# Filter the DataFrame to only show rows where 'YearStart' equals the specified year
filtered_Alz_Data = Alzheimers_data[Alzheimers_data['YearStart'] == filtered_year]

# Display the first few rows of the filtered DataFrame
filtered_Alz_Data.head()

,YearStart,YearEnd,LocationAbbr,Class,Topic,Data_Value_Unit,Data_Value(%),Age Group,Gender/Race/Ethnicity,Geolocation
183,2019,2022,NY,Cognitive Decline,Subjective cognitive decline or memory loss am...,%,13.8,50-64 years,Hispanic,POINT (-75.54397043 42.82700103)
185,2019,2022,WA,Cognitive Decline,Subjective cognitive decline or memory loss am...,%,9.5,65 years or older,Female,POINT (-120.4700108 47.52227863)
186,2019,2022,WA,Cognitive Decline,Subjective cognitive decline or memory loss am...,%,9.3,65 years or older,Male,POINT (-120.4700108 47.52227863)
192,2019,2022,WA,Cognitive Decline,Need assistance with day-to-day activities bec...,%,22.1,Overall,Male,POINT (-120.4700108 47.52227863)
195,2019,2022,GA,Cognitive Decline,Talked with health care professional about sub...,%,36.5,65 years or older,"Black, non-Hispanic",POINT (-83.62758035 32.83968109)

In [ ]:
filtered_Alz_Data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2854 entries, 183 to 283976
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   YearStart              2854 non-null   int64
 1   YearEnd                2854 non-null   int64
 2   LocationAbbr           2854 non-null   object
 3   Class                  2854 non-null   object
 4   Topic                  2854 non-null   object
 5   Data_Value_Unit        2854 non-null   object
 6   Data_Value(%)          2854 non-null   float64
 7   Age Group              2854 non-null   object
 8   Gender/Race/Ethnicity  2854 non-null   object
 9   Geolocation            2854 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 245.3+ KB

In [ ]:
filtered_Alz_Data.loc[:, ['Gender', 'Race/Ethnicity']] = filtered_Alz_Data['Gender/Race/Ethnicity'].str.split('/ ', expand=True)

filtered_Alz_Data.head()

,YearStart,YearEnd,LocationAbbr,Class,Topic,Data_Value_Unit,Data_Value(%),Age Group,Gender/Race/Ethnicity,Geolocation,Gender,Race/Ethnicity
183,2019,2022,NY,Cognitive Decline,Subjective cognitive decline or memory loss am...,%,13.8,50-64 years,Hispanic,POINT (-75.54397043 42.82700103),NaN,NaN
185,2019,2022,WA,Cognitive Decline,Subjective cognitive decline or memory loss am...,%,9.5,65 years or older,Female,POINT (-120.4700108 47.52227863),NaN,NaN
186,2019,2022,WA,Cognitive Decline,Subjective cognitive decline or memory loss am...,%,9.3,65 years or older,Male,POINT (-120.4700108 47.52227863),NaN,NaN
192,2019,2022,WA,Cognitive Decline,Need assistance with day-to-day activities bec...,%,22.1,Overall,Male,POINT (-120.4700108 47.52227863),NaN,NaN
195,2019,2022,GA,Cognitive Decline,Talked with health care professional about sub...,%,36.5,65 years or older,"Black, non-Hispanic",POINT (-83.62758035 32.83968109),NaN,NaN

In [ ]:
# Define lists to hold filtered values
Gender = []
Race_Ethnicity = []


# Loop through the DataFrame and filter values based on criteria
for value in filtered_Alz_Data['Gender/Race/Ethnicity']:
    value = value
    
    # Append to the respective lists based on the criteria
    if value == 'Male':
        Gender.append(value)
    elif value == 'Female':
        Gender.append(value)
    
    if value == 'Asian':
        Race_Ethnicity.append(value)
    elif value == 'Hispanic':
        Race_Ethnicity.append(value)
    elif value == 'Black, non-Hispanic':
        Race_Ethnicity.append(value)
    elif value == 'White, non-Hispanic':
        Race_Ethnicity.append(value)
    elif value == 'Native Am/Alaskan Native':
        Race_Ethnicity.append(value)
    elif value == 'Asian/Pacific Islander':
        Race_Ethnicity.append(value)

# Print the filtered lists
print("Gender:", Gender)
print("R/E:", Race_Ethnicity)

Gender: ['Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male']

In [ ]:
filtered_Alz_Data.dropna()

filtered_Alz_Data.head()

print(filtered_Alz_Data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 2854 entries, 183 to 283976
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   YearStart              2854 non-null   int64
 1   YearEnd                2854 non-null   int64
 2   LocationAbbr           2854 non-null   object
 3   Class                  2854 non-null   object
 4   Topic                  2854 non-null   object
 5   Data_Value_Unit        2854 non-null   object
 6   Data_Value(%)          2854 non-null   float64
 7   Age Group              2854 non-null   object
 8   Gender/Race/Ethnicity  2854 non-null   object
 9   Geolocation            2854 non-null   object
 10  Gender                 0 non-null      float64
 11  Race/Ethnicity         0 non-null      float64
dtypes: float64(3), int64(2), object(7)
memory usage: 289.9+ KB
None

In [ ]:
print("Length of filtered_Alz_Data:", len(filtered_Alz_Data))
print("Length of Gender:", len(Gender))
print("Length of Race_Ethnicity:", len(Race_Ethnicity))

Length of filtered_Alz_Data: 2854
Length of Gender: 1783
Length of Race_Ethnicity: 1071

In [ ]:
import pandas as pd
import numpy as np

# Assuming 'filtered_Alz_Data' is already your DataFrame
data = filtered_Alz_Data.copy()  # Make a copy to work with

# Define lists of known gender and race/ethnicity values
Gender = ['Male', 'Female']
Race_Ethnicity = ['White, non-Hispanic', 'Black, non-Hispanic', 'Asian/Pacific Islander', 'Hispanic', 'Native Am/Alaskan Native']

# Split values into Gender and Race/Ethnicity columns using conditions
data['Gender'] = data['Gender/Race/Ethnicity'].apply(lambda x: x if x in Gender else '--')
data['Race/Ethnicity'] = data['Gender/Race/Ethnicity'].apply(lambda x: x if x in Race_Ethnicity else '--')

data = data.drop(columns=['Gender/Race/Ethnicity'])

# Display the result
data.head()

,YearStart,YearEnd,LocationAbbr,Class,Topic,Data_Value_Unit,Data_Value(%),Age Group,Geolocation,Gender,Race/Ethnicity
183,2019,2022,NY,Cognitive Decline,Subjective cognitive decline or memory loss am...,%,13.8,50-64 years,POINT (-75.54397043 42.82700103),--,Hispanic
185,2019,2022,WA,Cognitive Decline,Subjective cognitive decline or memory loss am...,%,9.5,65 years or older,POINT (-120.4700108 47.52227863),Female,--
186,2019,2022,WA,Cognitive Decline,Subjective cognitive decline or memory loss am...,%,9.3,65 years or older,POINT (-120.4700108 47.52227863),Male,--
192,2019,2022,WA,Cognitive Decline,Need assistance with day-to-day activities bec...,%,22.1,Overall,POINT (-120.4700108 47.52227863),Male,--
195,2019,2022,GA,Cognitive Decline,Talked with health care professional about sub...,%,36.5,65 years or older,POINT (-83.62758035 32.83968109),--,"Black, non-Hispanic"

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2854 entries, 183 to 283976
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearStart        2854 non-null   int64
 1   YearEnd          2854 non-null   int64
 2   LocationAbbr     2854 non-null   object
 3   Class            2854 non-null   object
 4   Topic            2854 non-null   object
 5   Data_Value_Unit  2854 non-null   object
 6   Data_Value(%)    2854 non-null   float64
 7   Age Group        2854 non-null   object
 8   Geolocation      2854 non-null   object
 9   Gender           2854 non-null   object
 10  Race/Ethnicity   2854 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 267.6+ KB

In [ ]:

# Check the current working directory to ensure you are in the right place
import os
import sqlite3
print(os.getcwd())

# Use an absolute path or ensure the current directory is writable
connection = sqlite3.connect('Alz.db')  # Save in the current directory
# OR
# connection = sqlite3.connect('/absolute/path/to/Alz.db')

/Users/sarahwhite/Documents

In [ ]:
df = pd.DataFrame(data)

# Path to your SQLite database file
database_path = 'ALZ.db'

Table_Name = 'Alz_Data_Table'

# Create a connection to the SQLite database
with sqlite3.connect(database_path) as connection:
    # Load the DataFrame to a SQL table
    df.to_sql(Table_Name, connection, if_exists='replace', index=False)

# Verify that the data has been loaded
with sqlite3.connect(database_path) as connection:
    df_from_sql = pd.read_sql('SELECT * FROM Alz_Data_Table', connection)
    print(df_from_sql)

      YearStart  YearEnd LocationAbbr              Class  \
0          2019     2022           NY  Cognitive Decline
1          2019     2022           WA  Cognitive Decline
2          2019     2022           WA  Cognitive Decline
3          2019     2022           WA  Cognitive Decline
4          2019     2022           GA  Cognitive Decline
...         ...      ...          ...                ...
2849       2019     2019           WI  Cognitive Decline
2850       2019     2019           WV  Cognitive Decline
2851       2019     2019           WI  Cognitive Decline
2852       2019     2019           WV  Cognitive Decline
2853       2019     2019           WV  Cognitive Decline

                                                  Topic Data_Value_Unit  \
0     Subjective cognitive decline or memory loss am...               %
1     Subjective cognitive decline or memory loss am...               %
2     Subjective cognitive decline or memory loss am...               %
3     Need assistance with day-to-day activities bec...               %
4     Talked with health care professional about sub...               %
...                                                 ...             ...
2849  Subjective cognitive decline or memory loss am...               %
2850  Talked with health care professional about sub...               %
2851  Need assistance with day-to-day activities bec...               %
2852  Need assistance with day-to-day activities bec...               %
2853  Functional difficulties associated with subjec...               %

      Data_Value(%)          Age Group                       Geolocation  \
0              13.8        50-64 years  POINT (-75.54397043 42.82700103)
1               9.5  65 years or older  POINT (-120.4700108 47.52227863)
2               9.3  65 years or older  POINT (-120.4700108 47.52227863)
3              22.1            Overall  POINT (-120.4700108 47.52227863)
4              36.5  65 years or older  POINT (-83.62758035 32.83968109)
...             ...                ...                               ...
2849            9.8        50-64 years  POINT (-89.81637074 44.39319117)
2850           38.9  65 years or older   POINT (-80.71264013 38.6655102)
2851           26.0            Overall  POINT (-89.81637074 44.39319117)
2852           34.5  65 years or older   POINT (-80.71264013 38.6655102)
2853           34.6  65 years or older   POINT (-80.71264013 38.6655102)

      Gender       Race/Ethnicity
0         --             Hispanic
1     Female                   --
2       Male                   --
3       Male                   --
4         --  Black, non-Hispanic
...      ...                  ...
2849  Female                   --
2850  Female                   --
2851  Female                   --
2852      --  White, non-Hispanic
2853    Male                   --

[2854 rows x 11 columns]

In [202]:
# Path to your SQLite database file
database_path = 'Alz.db'  # Replace with your database path

# Create a connection to the SQLite database
with sqlite3.connect(database_path) as connection:
    # Define your SQL query to retrieve data
 query = """
SELECT * FROM Alz_Data_Table
WHERE Gender = 'Male'
AND LocationAbbr IN ('GA', 'TN', 'AL', 'SC', 'MS')
AND YearStart = 2019 AND YearEnd = 2022
AND ("Age Group" = 'Overall' OR "Age Group" = '50-64 years')
"""
# -- query = """
# SELECT * FROM Alz_Data_Table
# WHERE ("Age Group" = 'Overall' OR "Age Group" = '50-64 years')
# AND "Race/Ethnicity" = 'Black, non-Hispanic'
# """
    
    # Execute the query and load the results into a DataFrame
df_from_sql = pd.read_sql(query, connection)

# Display the results
df_from_sql.head()

,YearStart,YearEnd,LocationAbbr,Class,Topic,Data_Value_Unit,Data_Value(%),Age Group,Geolocation,Gender,Race/Ethnicity
0,2019,2022,MS,Cognitive Decline,Functional difficulties associated with subjec...,%,51.2,50-64 years,POINT (-89.53803082 32.7455101),Male,--
1,2019,2022,GA,Cognitive Decline,Need assistance with day-to-day activities bec...,%,48.0,50-64 years,POINT (-83.62758035 32.83968109),Male,--
2,2019,2022,SC,Cognitive Decline,Functional difficulties associated with subjec...,%,34.3,Overall,POINT (-81.04537121 33.9988213),Male,--
3,2019,2022,GA,Cognitive Decline,Subjective cognitive decline or memory loss am...,%,13.6,Overall,POINT (-83.62758035 32.83968109),Male,--
4,2019,2022,AL,Cognitive Decline,Need assistance with day-to-day activities bec...,%,43.4,50-64 years,POINT (-86.63186076 32.84057112),Male,--